.filter-row {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  &__item {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid var(--clr-dark);
    }
  }
  .expert__label {
    flex: 0 0 26.625rem;
    font-size: 13px;
    line-height: 156%;
  }
  &__btn {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }
}

@include max-width(86.9375em) {
  .filter-row {
    .expert__label {
      flex: 0 0 13.375rem !important;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}
