:root {
  --ff: 'Montserrat', sans-serif;
  --13-fsize: 0.8125rem;

  // SHADOW
  --header-shadow: 0px 12px 16px 0px hsla(210, 21%, 11%, 0.5);
  --modal-shadow: 0px 12px 16px 0px hsla(210, 21%, 8%, 0.5);
  // COLORS

  --clr-main: hsla(157, 59%, 60%, 1);
  --clr-dark: hsla(208, 22%, 14%, 1);
  --clr-light: hsla(210, 11%, 78%, 1);
  --clr-black: hsla(207, 19%, 11%, 1);
  --clr-yellow: hsla(61, 55%, 73%, 1);
  --clr-red: hsla(0, 68%, 58%, 1);

  // CONTAINER

  --main-container: 83.125rem;

  // SIZE

  --table-item: 6.104375rem;

  // SPACING
  --4-spc: 0.25rem;
  --10-spc: 0.625rem;
  --14-spc: 0.875rem;
  --17-spc: 1.0625rem;
  --19-spc: 1.1875rem;
  --30-spc: 1.875rem;
  --34-spc: 2.125rem;
  --55-spc: 3.4375rem;
  --tablet-padding: 1.4375rem;
}

$desktop-container-margins: 2.15625rem;
$tablet-container-margins: 1.125rem;
$tablet-absoluted-margins: 1.6875rem;
$table-container: 45.18125em;
$tablet-media: 86.9375em;

._main-container {
  max-width: var(--main-container);
  margin: 0 $desktop-container-margins;
  margin-inline: auto;
}

._spacing-top {
  margin-top: 31.25vh;
  @media only screen and (max-height: 56.25em) {
    margin-top: 258px;
  }
}


