// ------------------------------- first level
@import "general/normalize";
// ------------------------------- second level
@import "general/fonts";
@import "general/mixins";
@import "general/variables";
// ------------------------------- third level
@import "general/encoder_icon";






// -----------------------------
@import "general/global";
@import "general/typography";
@import "general/blocks";


.expert__button {
  flex: 0 0 466px;
}
.expert__settings {
  flex: 0 0 26rem;
}
.expert__value-item {
  padding: 0;
}
.expert__value-item input {
  padding: 12px;
  text-align: center;
  background-color: transparent;
  color: white;
}
.steps-list__total {
  padding: 0;
}
.steps-list__total input[type="date"],
.steps-list__total input[type="number"] {
  padding: 12px;
  background-color: transparent;
  color: white;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
}
.filter-row__total {
  padding: 0;
}
.filter-row__total input[type="text"] {
  padding: 12px;
  background-color: transparent;
  color: white;
  text-align: center;
}
.modal__heading {
  position: sticky;
  z-index: 2;
  top: 0;
}
.expert__button {
  flex-basis: 250px;
  flex-grow: 1;
}
.expert__values {
  flex-basis: 180px !important;
}
.expert__settings {
  flex-basis: 250px;
  flex-grow: 1;
}
.modal__item .modal__btn {
  padding: 0;
}
.modal__item .modal__btn input[type="text"] {
  padding: 12px;
  background-color: transparent;
  color: white;
  text-align: center;
}
._hiddenTrigger {
  border-radius: 6px;
}
.selector-row {
  transition: 0.3s all ease;
}
.expert__value-row:not(:last-child) .expert__button input {
  opacity: 0;
  visibility: hidden;
}
input[type="number"]:disabled {
  opacity: 0.5;
}
@media (max-width: 1100px) {
  .modal__body {
    padding: 1rem 2rem;
  }
  .expert__settings {
    margin-right: auto;
  }
}
.hidden-cells__item {
  justify-content: stretch;
  padding: 0 8px;
}
.hidden-cells__inner {
  justify-content: space-between;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: -webkit-image-set(url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMjAgM2gtMVYxaC0ydjJIN1YxSDV2Mkg0Yy0xLjEgMC0yIC45LTIgMnYxNmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMThINFY4aDE2djEzeiIvPjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiLz48L3N2Zz4=) 1x);
}
.switcher {
	display: flex;
	align-items: center;
	height: 30px;
	margin-top: 8px;
	color: #2196F3;
}

.switcher-item {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	padding: 6px 8px;
	font-size: 14px;
	color: #262b3e;
	background-color: transparent;
	margin-right: 8px;
	border: none;
	border-radius: 4px;
	outline: none;
}

.switcher-item:hover {
	background-color: #f2f3f5;
}

.switcher-active-item {
	text-decoration: none;
	cursor: default;
	color: #262b3e;
}

.switcher-active-item,
.switcher-active-item:hover {
	background-color: #e1eff9;
}
.custom-graph {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0,0,0,.5);
}
.custom-graph .custom-graph__wrap {
  background-color: var(--clr-dark);
  border-radius: 5px;
  box-sizing: content-box;
  position: relative;
  min-height: 300px;
  height: auto !important;
}
.custom-graph .custom-graph__content {
  max-height: 90vh;
  overflow: auto;
  padding: 50px 70px;
}
@media (max-width: 991px) {
  .custom-graph .custom-graph__content {
    padding: 20px;
  }
}
.custom-graph__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &::after,
  &::before {
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #777777;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
.graph-info {
  column-count: 3;
  column-gap: 50px;
  margin-top: 40px;
  user-select: text;
  font-size: 14px;
}
.graph-info__item {
  &:not(:first-child) {
    margin-top: 10px;
  }
  break-inside: avoid;
}
.graph-positions {
  margin-top: 20px;
}
.graph-positions__more {
  padding: 12px;
  border-radius: 6px;
  background-color: var(--clr-main);
  color: var(--clr-black);
  display: block;
  width: max-content;
  margin: 0 auto;
}
.graph-positions.active {
  // column-count: 3;
  position: relative;
  margin-top: 40px;
  max-width: 825px;

  &::after {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
    display: block;
    content: '';
  }
}
.graph-positions > pre {
  column-count: 3;
  column-gap: 50px;
  font-size: 14px;
  white-space: normal;
  &:not(:first-child) {
    margin-top: 25px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrap {
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    min-height: 120px;
    background-color: var(--clr-black);
  }

  &__title {
    margin-bottom: 15px;
  }

  &__btn {
    padding: 12px;
    background-color: var(--clr-main);
    font-size: var(--13-fsize);
    color: var(--clr-black);
    border-radius: 6px;
  }

  &__input {
    background-color: transparent;
    color: white;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--clr-main);
    border-radius: 12px;
  }
}

body .header,
body main {
  opacity: 0 !important;
}

body.show .header,
body.show main {
  opacity: 1 !important;
}
