// ------------------------------- first level
@import "general/normalize";
// ------------------------------- second level
@import "general/fonts";
@import "general/mixins";
@import "general/variables";
// ------------------------------- third level
@import "general/encoder_icon";






// -----------------------------
@import "general/global";
@import "general/typography";
@import "general/blocks";


.expert__button {
  flex: 0 0 466px;
}
.expert__settings {
  flex: 0 0 26rem;
}
.expert__value-item {
  padding: 0;
}
.expert__value-item input {
  padding: 12px;
  text-align: center;
  background-color: transparent;
  color: white;
}
