// ------------------------------- first level
@import "general/normalize";
// ------------------------------- second level
@import "general/fonts";
@import "general/mixins";
@import "general/variables";
// ------------------------------- third level
@import "general/encoder_icon";






// -----------------------------
@import "general/global";
@import "general/typography";
@import "general/blocks";


.expert__button {
  flex: 0 0 466px;
}
.expert__settings {
  flex: 0 0 26rem;
}
.expert__value-item {
  padding: 0;
}
.expert__value-item input {
  padding: 12px;
  text-align: center;
  background-color: transparent;
  color: white;
}
.steps-list__total {
  padding: 0;
}
.steps-list__total input[type="date"],
.steps-list__total input[type="number"] {
  padding: 12px;
  background-color: transparent;
  color: white;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
}
.filter-row__total {
  padding: 0;
}
.filter-row__total input[type="text"] {
  padding: 12px;
  background-color: transparent;
  color: white;
  text-align: center;
}
.modal__heading {
  position: sticky;
  z-index: 2;
  top: 0;
}
.expert__button {
  flex-basis: 250px;
  flex-grow: 1;
}
.expert__values {
  flex-basis: 180px !important;
}
.expert__settings {
  flex-basis: 250px;
  flex-grow: 1;
}
.modal__item .modal__btn {
  padding: 0;
}
.modal__item .modal__btn input[type="text"] {
  padding: 12px;
  background-color: transparent;
  color: white;
  text-align: center;
}
._hiddenTrigger {
  border-radius: 6px;
}
.selector-row {
  transition: 0.3s all ease;
}
.expert__value-row:not(:last-child) .expert__button input {
  opacity: 0;
  visibility: hidden;
}
input[type="number"]:disabled {
  opacity: 0.5;
}
@media (max-width: 1100px) {
  .modal__body {
    padding: 1rem 2rem;
  }
  .expert__settings {
    margin-right: auto;
  }
}
.hidden-cells__item {
  justify-content: stretch;
  padding: 0 8px;
}
.hidden-cells__inner {
  justify-content: space-between;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: white;
  // background: red;
  fill: black;
}
